.richtext-editor > div:not([class]) {
  height: calc(100% - var(--spacing) * 12);
}

.richtext-editor div[contenteditable="true"] {
  padding: calc(var(--spacing) * 2);
  height: 100%;
}

.tiptap ul {
  list-style: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

.tiptap ol {
  list-style: decimal;
  list-style-position: outside;
  padding-left: 1.5rem;
}

hr {
  outline: none;
  border-color: var(--color-gray-200);
}
